@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

<div class="container">
    <h1 class="display-4">Welcome</h1>
    <h2>My Vehicles</h2>
    <div class="container">
        @if (Model.Vehicles.Count() > 0)
        {
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th class="cell">Vin</th>
                        <th class="cell">Make</th>
                        <th class="cell">Model</th>
                        <th class="cell">Year</th>
                        <th class="cell">Compliance Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Vehicles)
                    {
                        <tr style="border: none;">
                            <td class="cell">@item.Vehicle.Vin</td>
                            <td class="cell">@item.Vehicle.Make</td>
                            <td class="cell">@item.Vehicle.Model</td>
                            <td class="cell">@item.Vehicle.Year</td>
                            <td class="cell">
                                @if (item.IsCompliant)
                                {
                                    <span class="badge bg-success">Compliant</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Not Compliant</span>
                                }
                            </td>

                            <td class="cell">
                                <a class="btn btn-primary table-button" asp-controller="Vehicles" asp-action="Edit" asp-route-id="@item.Vehicle.Id">Edit</a>
                                <a class="btn btn-danger table-button" asp-controller="Vehicles" asp-action="Delete" asp-route-id="@item.Vehicle.Id" onclick="return confirm('Are you sure you want to delete this vehicle?')">Delete</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Vehicles Registered.</p>
        }
        <a class="btn btn-primary" asp-controller="Vehicles" asp-action="Create">Add Vehicle</a>
    </div>
    <h2>Inspections</h2>
    <div class="container">
        @if (Model.Inspections.Count() > 0 && Model.Vehicles.Count() > 0)
        {
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th class="cell">Vin</th>
                        <th class="cell">Date</th>
                        <th class="cell">Passed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Inspections)
                    {
                        <tr style="border: none;">
                            <td class="cell">@item.Vehicle.Vin</td>
                            <td class="cell">@item.Date</td>
                            <td class="cell">@item.Passed</td>
                            <td class="cell">
                                <a class="btn btn-primary table-button" asp-controller="Inspections" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger table-button" asp-controller="Inspections" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this inspection?')">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Inspections Added.</p>
        }
        <a class="btn btn-primary" asp-controller="Inspections" asp-action="Create">Add Inspection</a>
    </div>
</div>