@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

<div class="container">
    <h1 class="display-4">Welcome</h1>
    <h2>My Vehicles</h2>
    <div class="container">
        @if (Model.vehicles.Count() > 1)
        {
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th class="cell">Vin</th>
                        <th class="cell">Make</th>
                        <th class="cell">Model</th>
                        <th class="cell">Year</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.vehicles)
                    {
                        <tr style="border: none;">
                            <td class="cell">@item.Vin</td>
                            <td class="cell">@item.Make</td>
                            <td class="cell">@item.Model</td>
                            <td class="cell">@item.Year</td>

                            <td class="cell">
                                <a class="btn btn-primary table-button" asp-controller="Vehicles" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-primary table-button" asp-controller="Vehicles" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-primary" asp-controller="Vehicles" asp-action="Create">Add Vehicle</a>
        }
        else
        {
            <p>No Vehicles Registered.</p>
        }
    </div>
    <h2>Inspections</h2>
    <div class="container">
        @if (Model.inspections.Count() > 0)
        {
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th class="cell">Vin</th>
                        <th class="cell">Date</th>
                        <th class="cell">Passed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.inspections)
                    {
                        <tr style="border: none;">
                            <td class="cell">@item.Vin</td>
                            <td class="cell">@item.Date</td>
                            <td class="cell">@item.Passed</td>
                            <td class="cell">
                                <a class="btn btn-primary table-button" asp-controller="Vehicles" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-primary table-button" asp-controller="Vehicles" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Inspections Added.</p>
        }
        <a class="btn btn-primary" asp-controller="Inspections" asp-action="Create">Add Inspection</a>
    </div>
</div>